body {
    background-image: url(../img/wot/logo_1.jpg);
    background-attachment: fixed;
}

.contaoner {
    display: block;
}

.logo-menu {
    display: block;
}

.one {
    width: 100%;
    height: 600px;
    position: relative;
}

.menu {
    display: flex;
    border: 1px solid black;
    background-color: black;
}

.button {
    background-color: black;
    color: white;
    
    padding-left: 20px;
    padding-right: 20px;
    
}

.about {
    position: absolute;
    font-size: 45px;
    top: 200px;
    left: 300px;
    right: 300px;
    color: white;
}

.blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.block {
    display: block;
    width: 32%;
    text-align: center;   
}

.a {
    overflow: hidden;
    margin: 0 auto;
}

.two {
    max-width: 100%;
    transition: 0.5s all ease-in-out;
}

.a:hover img {
    transform: scale(1.3);
}

.text {
    font-size: 20px;
    text-align: justify;
    color: aliceblue;
}

.big {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.h3 {
    width: 48%;
}

.img {
    
}

h2 {
    color: aliceblue;
}

h3 {
    text-align: justify;
    font-size: 20px; 
    color: aliceblue;
}

.last {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
}

.right {
    display: block;
    width: 49%;
}

.small {
    width: 100%;
}

.play {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left:80px;
    padding-right: 80px;
    background-color: #ff5722;
    color: white;
    border-radius: 7px;
    margin-top: 15px;
}

.video {
    width: 50%;
}

footer {
    border: 2px solid black;
    display: block;
    background-color: black;
}

.five {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 60px;
    margin-bottom: 50px;
    
}

.six {
    display: flex;
}

.end {
    color: white;
}

.end-1 {
    color: white;
    font-size: 20px;
}

.p-text {
    display: block;
    margin-left: 10px;
    margin-top: -14px;
}

.footer-img {
    width: 63px;
    
}

.blanck {
    border: 1px solid #726f6f;
    width: 100%;
    margin-bottom: 70px;
}

.seven {
    display: flex;
    justify-content: space-evenly;
    margin-top: -25px;
    margin-bottom: 25px;
}

.seven-1 {
    display: block;
}

.wargaming {
    width: 130px;
}

@media screen and (max-width:400px ){
    
    .blocks {
        display: block;
        margin: auto;
        padding: 20px;
    }

    .block {
        width: 100%;
    }
    
    .one {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .about {
      position: absolute;
      font-size: 1.4rem;
      left: 0;
      right: 0;
      top: 25%;
      color: white;
      margin: auto;
      text-align: center;
    }

    .two {
       max-width: 100%;
       transition: 0.5s all ease-in-out;
       border-radius: 10px;
    }
    
    .text {
       font-size: 1rem;
       text-align: justify;
       color: aliceblue
    }
    
    .button {
       background-color: black;
       color: white;
       padding-left: 20px;
       padding-right: 20px;
    }
    
    .menu {
        width: 100%;
        padding-bottom: 10px;
    }
    
    .big {
        display: block;
    }
    
    .h3 {
        width: 90%;
        padding: 20px;
        font-size: 1rem;
    }
    
    .video {
        width: 90%;
        padding: 20px;
    }
    
    h3 {
        font-size: 1rem;
        width: 90%;
        padding: 20px;
    }
    
    .small {
        width: 90%;
        padding: 20px;
  }
    
    .right {
        display: block;
        width: 100%;
    }
    
    .last {
        display: block;
    }
    
    .play {
        margin-bottom: 20px;
    }
    
    .footer {
        width: 30px;
        height: 30px;
    }
    
    .wargaming {
        width: 70px;
        margin-top: 30px;
    }
    
    .five {
        display: block;
        height: 100%
    }
    
    .six {
        display: flex;
        margin-top: 5px;
    }
    
    .footer-img {
        width: 40px;
        height: 40px;
        margin-top: 15px;
    }
    
    .p-text {
        display: flex;
        margin-top: 0;
        
       
    }
    
    .end-1 {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 25px;
    }
    
    .end {
        margin-left: 15px;
        margin-top: 25px;
    }
    
    
    
    
    
}









